body.index {
    background: url(http://c1.staticflickr.com/9/8689/16670531698_b81eed7de0_k.jpg) 0 center no-repeat;
    /*-webkit-filter: blur(5px);
    -filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: translate3d(0, 0, 0);*/
}
.index h1 {
    text-align: center;
    color: white;
}
